<ion-header>
    <ion-toolbar color="secondary">
            <ion-buttons slot="end">
                    <ion-button fill="clear" (click)= 'home()'><ion-icon name ="home" color="dark"></ion-icon></ion-button>
                 </ion-buttons>
                 <ion-buttons slot="start">
                     <ion-button fill="clear" (click)= 'back_lessons()'><ion-icon name ="arrow-round-back" color="dark"></ion-icon></ion-button>
                  </ion-buttons>
      <ion-title text-center>
          <p style = "font-weight: bold; font-size: 20px; color: black ;" absolute-drag>COLORS</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding  color="light">
  <ion-row>
    <ion-col size="6">
      <ion-card color="primary">
          <ion-card-content >
            <ion-card-title text-center>
            </ion-card-title>
            <a href="azul"><img style=" width: 100px; height: 100px" src="/assets/img/azul.png" alt="Enviar" ></a>
          </ion-card-content>
        </ion-card>
    </ion-col>

        
        <ion-col size="6">
          <ion-card color="primary">
              <ion-card-content >
                <ion-card-title text-center>
                </ion-card-title>
                <a href="rojo"><img style=" width: 100px; height: 100px" src="/assets/img/rojo.png" alt="Enviar" ></a>
              </ion-card-content>
            </ion-card>
      </ion-col>

      
      <ion-col size="6">
        <ion-card color="primary">
            <ion-card-content >
              <ion-card-title text-center>
              </ion-card-title>
              <a href="verde"><img style=" width: 100px; height: 100px" src="/assets/img/verde.png" alt="Enviar" ></a>
            </ion-card-content>
          </ion-card>
    </ion-col>

    
    <ion-col size="6">
      <ion-card color="primary">
          <ion-card-content >
            <ion-card-title text-center>
            </ion-card-title>
            <a href="amarillo"><img style=" width: 100px; height: 100px" src="/assets/img/amarillo.png" alt="Enviar" ></a>
          </ion-card-content>
        </ion-card>
  </ion-col>

  
  <ion-col size="6">
    <ion-card color="primary">
        <ion-card-content >
          <ion-card-title text-center>
          </ion-card-title>
          <a href="blanco"><img style=" width: 100px; height: 100px" src="/assets/img/blanco.png" alt="Enviar" ></a>
        </ion-card-content>
      </ion-card>
</ion-col>


<ion-col size="6">
  <ion-card color="primary">
      <ion-card-content >
        <ion-card-title text-center>
        </ion-card-title>
        <a href="negro"><img style=" width: 100px; height: 100px" src="/assets/img/negro.png" alt="Enviar" ></a>
      </ion-card-content>
    </ion-card>
</ion-col>


<ion-col size="6">
  <ion-card color="primary">
      <ion-card-content >
        <ion-card-title text-center>
        </ion-card-title>
        <a href="morado"><img style=" width: 100px; height: 100px" src="/assets/img/morado.png" alt="Enviar" ></a>
      </ion-card-content>
    </ion-card>
  </ion-col>

  
  <ion-col size="6">
    <ion-card color="primary">
        <ion-card-content >
          <ion-card-title text-center>
          </ion-card-title>
          <a href="rosado"><img style=" width: 100px; height: 100px" src="/assets/img/rosado.png" alt="Enviar" ></a>
        </ion-card-content>
      </ion-card>
</ion-col>
  </ion-row>
  </ion-content>
