<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      <p style="font-weight: bold; font-size: 20px; color: blue;" absolute-drag>MENU</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
 
  
<ion-row>
    <ion-col size="6">
              <a href="abecedario"><img src="/assets/img/abc.png" alt="Enviar" class="img" ></a>
    </ion-col>
 
    <ion-col size="6">
              <a href="animals"><img src="/assets/img/animales.png" alt="Enviar" class="img"></a>
   </ion-col>

    <ion-col size="6">
              <a href="numbers"><img src="/assets/img/numeros.png" alt="Enviar" class="img"></a>
 </ion-col>

    <ion-col size="6">
              <a href="colors"><img src="/assets/img/colores.png" alt="Enviar"class="img" ></a>
</ion-col>

    <ion-col size="6">
              <a href="fruits"><img src="/assets/img/frutas.png" alt="Enviar" class="img"></a>
 </ion-col>
</ion-row>
    
</ion-content>

