<ion-header text-center>
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p style="font-weight: bold; font-size: 15px; color: white;" absolute-drag>Welcome to English4Kids</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content color="secondary" text-center>
    <ion-img src="/assets/img/logo.png"></ion-img>
    <div class="card-title">
      <p style="font-weight: bold; font-size: 15px; color: blueviolet;" absolute-drag>Now, a simple application in which children can learn English in a fun and easy way, for 5 age.</p>
      </div>
  </ion-content>
</ion-content>
